<?xml version="1.0" encoding="windows-1252"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<odoo>
    <data>
        <!-- The following tag defines a tree view that lists events -->
        <record model="ir.ui.view" id="event_list">
            <field name="name">event_list</field>
            <field name="model">music_events.event</field>
            <field name="arch" type="xml">
                <tree string="Events">
                    <!--<field name="id"/>-->
                    <field name="name"/>
                    <field name="ticketPrice"/>
                    <field name="place"/>
                    <field name="date"/>
                    <field name="club"/>
                    <field name="description"/>
                </tree>
            </field>
        </record>
        
        <!-- The following tag defines a form view used to register events -->
        <record model="ir.ui.view" id="event_form">
            <field name="name">event_form</field>
            <field name="model">music_events.event</field>
            <field name="arch" type="xml">
                <form>
                    <div>
                        <laber for="name" string="Name"/>
                        <h1><field name="name" placeholder="Event name"/></h1>
                    </div>
                    <group>
                        <group>
                            <field name="place"/>
                            <field name="date"/>
                        </group>
                        <group>
                            <field name="ticketPrice"/>
                            <field name="club" 
                                   attrs="{'readonly': True}">
                            </field>
                        </group>
                    </group>
                    
                    <notebook colspan="4">
                        <page name="description" string="Description">
                            <field name="description"/>
                        </page>
                        <page name="artists" string="Artists">
                            <field name="artists">
                                <tree string="Artists">
                                    <field name="id"/>
                                    <field name="name"/>
                                    <field name="login"/>
                                    <field name="email"/>
                                    <field name="musicGenre"/>
                                    <field name="biography"/>
                                </tree>
                            </field>
                        </page>
                        <page name="eventRatings" string="Ratings">
                            <field name="ratings">
                                <tree string="Ratings">
                                    <field name="client"></field>
                                    <field name="rating"/>
                                    <field name="comment"/>
                                </tree>
                            </field>
                        </page>
                    </notebook>
                </form>
            </field>
        </record>
        
        <!-- The following tag defines a search view for events -->
        <record model="ir.ui.view" id="event_search_view">
            <field name="name">event_search</field>
            <field name="model">music_events.event</field>
            <field name="arch" type="xml">
                <search>
                    <field name="id"/>
                    <field name="name"/>
                    <field name="place"/>
                    <field name="date"/>
                    <field name="ticketPrice"/>
                    <field name="club"></field>
                </search>
            </field>
        </record>
        
        
    </data>
</odoo>
